* {
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 0;
  padding-left: 0;
}
ul li {
  width: calc(50% - 10px);
  padding: 15px;
  text-align: left;
  border-radius: 15px;
  color: #fff;
  background-color: rgb(99, 40, 155);
  cursor: pointer;
  transition: background-color 0.5s;
  position: relative;
  overflow: hidden;
}
ul li span {
  position: relative;
  z-index: 2;
}
ul li:hover {
  background-color: rgba(99, 40, 155, 0.836);
}
li::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: rgb(47, 149, 47);
  z-index: 1;
  transition: 0.5s;
}
li.active::after {
  width: 100%;
}
#question {
  color: #666;
}
.inner {
  backdrop-filter: blur(12px) saturate(180%);
  -webkit-backdrop-filter: blur(12px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.73);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}
body {
  background-color: #17b486;
  color: white;
}
.score {
  background-color: rgb(169, 32, 187);
  padding: 10px;
  border-radius: 15px;
  font-size: 20px;
}
/* .btn-finish {
  top: 10px;
  right: 10px;
  color: #FFF !important;
} */
.num-qu {
  font-size: 20px;
  font-weight: 800;
  color: #222;
  margin-top: 10px;
  margin-bottom: 0;
  /* background-clip: text; */
  /* background-image: linear-gradient(45deg, rgb(218, 212, 224), rgb(70, 4, 131)); */
}
.box-move {
  padding: 10px;
  width: 100%;
  background-color: #00000042;
  /* background-color: red; */
  color: #FFF;
}
.box-move .box {
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #FFF;
  text-align: center;
}
.box-move .box.active{
  background-color: rgb(98, 20, 170);
  border: 1px solid rgb(98, 20, 170);
}
.num-qu {
  padding-bottom: 6px;
  margin-top: 0;
  border-bottom: 2px solid #000;
}
.opacity-50-cursor {
  opacity: 0.5;
  cursor: no-drop !important;
}

@media (min-width: 992px) {
  .box-move {
    width: 50%;
  }
}
